<% flash.each do |key, value| %>
    <% if key==:alert || key=="alert"; then ; cssx="alert" ; textoalerta="Alerta!" ; fonta="ban"; else ; cssx="info" ; textoalerta="Información"; fonta="thumbs-up"; end  %>
    <div class="alertcls alertcls-<%= cssx %> alert-dismissable">
        <h4><i class="icon fa fa-<%= fonta %>"></i> <%= textoalerta %></h4>
        <%= value %>
    </div>
    <% end %>
<% yield %>
<% ENV["JUNTAMEDICAPRUEBAS"].present? ? pruebas=true : pruebas=false %>

<!--login bonito-->
<div class="container">
 <div class="screen">
	<div class="screen__content">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"login") do |f| %>  

            <div class="login-logo">
             <%= image_tag "logo.png", width:200 %>
            </div>
            <br>
            <br>
            <div class="login__field">
                <i class="login__icon fas fa-user"></i>
                <%= f.email_field :email, autofocus: true, placeholder: 'correo', class: 'login__input' %> 
            </div>
            <br>

            <div class="login__field">
                <i class="login__icon fas fa-lock"></i>
               <%= f.password_field :password, autocomplete: "off", placeholder: 'contraseñas', class: 'login__input' %>
               
            </div>

            <div class="checkbox">
                  <label>
                    <div class="icheckbox_square-blue">
                      <%= f.check_box :remember_me %> Recordar datos
                    </div>
                  </label>
            </div>
            
         <%= f.submit "Ingresar", class: 'button login__submit'%>
                    
            <span class="button__text">Ingresa ahora</span>
         
           
    
       <% end %>

			<div class="social-login">
				<h3>Acceso junta médica</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

<style>
 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css') ;

 

:root {
    --main-azul-oscuro:  #24346C;
    --main-blanco:#F0F6FC;
    --main-morado-oscuro:#5D54A4;
    --main-morado-lila:#7C78B8;
    --main-amarillo: #ffe30f;
    --main-azul-claro: #6786B8;
    --main-azul-gris:#B3C0DB;
    --main-tinto: #3c0000;




}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background:var(--main-blanco);		
}

.login-logo img{
    margin-top:-50px;
  
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, var(--main-azul-oscuro), var(--main-azul-claro));		
	position: relative;	
	height: 600px;
	width: 400px;	
	box-shadow: 0px 0px 24px var(--main-azul-oscuro);
    padding: 30px;
}

.screen__content {
	z-index: 1;
	position: relative;	
    margin-top:50px;
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}


.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: var(--main-azul-oscuro);	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background:linear-gradient(270deg, var(--main-azul-oscuro), var(--main-azul-claro));;
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: var(--main-azul-oscuro);	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: -70px;
	color: var(--main-azul-oscuro);
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
    margin-top: -100px; 
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: var(--main-azul-claro);
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 30%;
	color: var(--main-azul-oscuro);
	box-shadow: 0px 2px 2px var(--main-azul-oscuro);
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}

.alertcls {
	position: fixed;
	top: 30px;
	right: 50px;
	min-width: 300px;
	height: auto;
	color: white;
	box-shadow: 4px 4px 11px -4px rgb(36,36,36);
	border-radius: 10px;
	padding: 10px;
	z-index: 999999;
  }
  
  .alertcls-alert {
	background-color: #f56954;
  }
  
  .alertcls-info {
	background-color: #00c0ef;
  }


</style>


